## Forecasting Electric Bills: A Machine Learning Approach to Budgeting with Weather and Usage Data

### Problem Description

Electric bills can fluctuate significantly based on several factors, such as weather conditions, energy consumption patterns, and changes in pricing. Unexpected increases in bills can disrupt budgeting plans, leading to financial strain. This project seeks to develop a supervised learning model to forecast electric bills using detailed weather data and ComEd usage data. By identifying the variables that influence energy consumption and bill amounts, the model will enable better budgeting and financial planning. This predictive tool could help users anticipate high bills and adjust their energy usage or budget accordingly.

For this analysis, I'm using my own Comed usage data for the last ~28 months.  I've downloaded the weather data for this period as well from open meteo.

Step 1. Import packages and data

In [1]:
import pandas as pd
import numpy as np

### Import Usage Data

In [2]:
# Define the file paths
usage_22_23 = 'data/comed/comed_usage_01.csv'
usage_23_24 = 'data/comed/comed_usage_02.csv'
usage_current = 'data/comed/comed_usage_03.csv'

# Step 1: Load the CSV files into separate DataFrames
df1 = pd.read_csv(usage_22_23)
df2 = pd.read_csv(usage_23_24)
df3 = pd.read_csv(usage_current)

# Step 2: Combine all DataFrames into one
# Concatenate the three DataFrames row-wise (stacking them on top of each other)
usage_df = pd.concat([df1, df2, df3], ignore_index=True)

# Step 3: Drop the 'TYPE' column as it contains only one unique value
usage_df = usage_df.drop(columns=['TYPE','NOTES'])

# Step 4: Handle duplicate rows
# Duplicates are checked based on all remaining columns. If all values in a row match another row, it will be removed.
usage_df = usage_df.drop_duplicates()

# Step 5: Reset the index after dropping duplicates for a clean DataFrame
usage_df.reset_index(drop=True, inplace=True)

# Step 6: Convert the 'COST' column to numeric by removing the dollar sign for analysis
# (Optional: Keeps the data clean and allows numerical operations)
usage_df['COST'] = usage_df['COST'].replace('[\$,]', '', regex=True).astype(float)

# Step 7: Convert 'DATE' column to a datetime object for easier date-based analysis
usage_df['DATE'] = pd.to_datetime(usage_df['DATE'])

# Step 8: Display the first few rows of the combined DataFrame for verification
print(usage_df.head())

        DATE START TIME END TIME  USAGE (kWh)  COST
0 2022-12-31      23:30    23:59         0.32  0.05
1 2023-01-01      00:00    00:29         0.31  0.06
2 2023-01-01      00:30    00:59         0.34  0.04
3 2023-01-01      01:00    01:29         0.38  0.04
4 2023-01-01      01:30    01:59         0.27  0.05

### Import Bill Totals

In [3]:
bill_totals = 'data/comed/bill_totals.csv'

bill_totals_df = pd.read_csv(bill_totals)

In [4]:
columns_to_drop = ['TYPE', 'NOTES']
bill_totals_df.drop(columns_to_drop, axis=1, inplace=True)

# Clean Bill Totals
bill_totals_df['START DATE'] = pd.to_datetime(bill_totals_df['START DATE'])
bill_totals_df['END DATE'] = pd.to_datetime(bill_totals_df['END DATE'])
bill_totals_df['COST'] = bill_totals_df['COST'].replace('[\$,]', '', regex=True).astype(float)
bill_totals_df['month_year'] = bill_totals_df['START DATE'].dt.to_period('M')

In [5]:
bill_totals_df.head()

  START DATE   END DATE  USAGE (kWh)    COST month_year
0 2022-08-31 2022-09-20        680.0   98.82    2022-08
1 2022-09-21 2022-10-19        403.0   58.26    2022-09
2 2022-10-20 2022-11-17        339.0   51.22    2022-10
3 2022-11-18 2022-12-20        619.0   92.74    2022-11
4 2022-12-21 2023-01-23        682.0  101.82    2022-12

### Import Weather Data

In [27]:
weather_data = 'data/weather/open-meteo-08312022-1142024.csv'

weather_df = pd.read_csv(weather_data)

print(weather_df.columns)  # List column names
print(weather_df['time'].head())  # Check the first few entries of the 'time' column
print(weather_df['time'].dtype)  # Check the data type of the 'time' column
weather_df['time'] = weather_df['time'].str.strip()
weather_df['datetime'] = pd.to_datetime(weather_df['time'], errors='coerce')
weather_df = weather_df.drop(columns=['time'])

Index(['time', 'temperature_2m (째F)', 'relative_humidity_2m (%)',
       'dew_point_2m (째F)', 'apparent_temperature (째F)',
       'precipitation (inch)', 'rain (inch)', 'snowfall (inch)',
       'snow_depth (ft)', 'weather_code (wmo code)', 'cloud_cover (%)'],
      dtype='object')
0    2022-08-31T00:00
1    2022-08-31T01:00
2    2022-08-31T02:00
3    2022-08-31T03:00
4    2022-08-31T04:00
Name: time, dtype: object
object

In [28]:
# Rename columns
weather_df.rename(columns={
    'temperature_2m (째F)': 'temperature',
    'relative_humidity_2m (%)': 'humidity',
    'dew_point_2m (째F)': 'dew_point',
    'apparent_temperature (째F)': 'apparent_temp',
    'precipitation (inch)': 'precipitation',
    'rain (inch)': 'rain',
    'snowfall (inch)': 'snowfall',
    'snow_depth (ft)': 'snow_depth',
    'weather_code (wmo code)': 'weather_code',
    'cloud_cover (%)': 'cloud_cover'
}, inplace=True)

In [29]:
weather_df.head()

,temperature,humidity,dew_point,apparent_temp,precipitation,rain,snowfall,snow_depth,weather_code,cloud_cover,datetime
0,63.7,68,53.1,62.0,0.0,0.0,0.0,0.0,0,0,2022-08-31 00:00:00
1,62.6,70,52.6,61.0,0.0,0.0,0.0,0.0,0,0,2022-08-31 01:00:00
2,61.7,71,52.4,60.0,0.0,0.0,0.0,0.0,0,0,2022-08-31 02:00:00
3,61.0,72,52.1,59.1,0.0,0.0,0.0,0.0,0,0,2022-08-31 03:00:00
4,60.7,72,51.7,58.3,0.0,0.0,0.0,0.0,0,0,2022-08-31 04:00:00

In [9]:
# Resample usage data to hourly intervals
usage_hourly = usage_df.resample('H', on='datetime').agg({
    'USAGE (kWh)': 'sum',   # Sum usage for the hour
    'COST': 'sum'           # Sum cost for the hour
}).reset_index()

print(usage_hourly.head())

             datetime  USAGE (kWh)  COST
0 2022-12-31 23:00:00         0.32  0.05
1 2023-01-01 00:00:00         0.65  0.10
2 2023-01-01 01:00:00         0.65  0.09
3 2023-01-01 02:00:00         0.64  0.08
4 2023-01-01 03:00:00         0.57  0.10

In [31]:
# Merge the two datasets to check alignment
granular_data = pd.merge(usage_hourly, weather_df, on='datetime', how='left')

print("Merged dataset preview:")
print(granular_data.head())

Merged dataset preview:
             datetime  USAGE (kWh)  COST  temperature  humidity  dew_point
0 2022-12-31 23:00:00         0.32  0.05         34.8        86       31.0  \
1 2023-01-01 00:00:00         0.65  0.10         36.0        88       32.8
2 2023-01-01 01:00:00         0.65  0.09         36.4        90       33.8
3 2023-01-01 02:00:00         0.64  0.08         36.2        94       34.6
4 2023-01-01 03:00:00         0.57  0.10         36.3        95       34.9

   apparent_temp  precipitation   rain  snowfall  snow_depth  weather_code
0           28.5          0.000  0.000     0.000         0.0             3  \
1           28.9          0.000  0.000     0.000         0.0             3
2           29.3          0.000  0.000     0.000         0.0             3
3           29.5          0.079  0.075     0.028         0.0            71
4           29.9          0.055  0.055     0.000         0.0            61

   cloud_cover
0          100
1          100
2          100
3          100
4          100

In [33]:
# Add month-year to Usage-Weather Data
granular_data['month_year'] = granular_data['datetime'].dt.to_period('M')

In [35]:
final_data = pd.merge(
    granular_data,
    bill_totals_df[['month_year', 'COST']],
    on='month_year',
    how='left'
)

In [36]:
final_data.head()

,datetime,USAGE (kWh),COST_x,temperature,humidity,dew_point,apparent_temp,precipitation,rain,snowfall,snow_depth,weather_code,cloud_cover,month_year,COST_y
0,2022-12-31 23:00:00,0.32,0.05,34.8,86,31.0,28.5,0.000,0.000,0.000,0.0,3,100,2022-12,101.82
1,2023-01-01 00:00:00,0.65,0.10,36.0,88,32.8,28.9,0.000,0.000,0.000,0.0,3,100,2023-01,89.92
2,2023-01-01 01:00:00,0.65,0.09,36.4,90,33.8,29.3,0.000,0.000,0.000,0.0,3,100,2023-01,89.92
3,2023-01-01 02:00:00,0.64,0.08,36.2,94,34.6,29.5,0.079,0.075,0.028,0.0,71,100,2023-01,89.92
4,2023-01-01 03:00:00,0.57,0.10,36.3,95,34.9,29.9,0.055,0.055,0.000,0.0,61,100,2023-01,89.92